
{# PAGINATION #}

{% macro paginate(pager, attributs) %}

    <div class="gloomy-pagination">

        {% if pager.pages.first not in pager.pages.pagesInRange %}
            <a {{ attributs|raw }} href="{{ pager.path(pager.pages.first) }}">{{ pager.pages.first }}</a>
        {% endif %}

        {% if pager.pages.previous is defined %}
            <a {{ attributs|raw }} href="{{ pager.path(pager.pages.previous) }}">«</a>
        {% endif %}

        {% if pager.pages.last == 0 %}
            <a {{ attributs|raw }} href="{{ pager.path(pager.pages.last) }}" class="active">{{ pager.pages.last }}</a>
        {% else %}
            {% for page in pager.pages.pagesInRange %}
                <a {{ attributs|raw }} href="{{ pager.path(page) }}" {% if page == pager.pages.current %}class="active"{% endif %}>{{ page }}</a>
            {% endfor %}
        {% endif %}

        {% if pager.pages.next is defined %}
            <a {{ attributs|raw }} href="{{ pager.path(pager.pages.next) }}">»</a>
        {% endif %}

        / <a {{ attributs|raw }} href="{{ pager.path(pager.pages.last) }}">{{ pager.pages.last }}</a>

    </div>

{% endmacro %}



{# ORDER BY #}

{% macro orderBy(pager, alias, label, attributs) %}

    {% if pager.OrderBy[alias] is defined %}
        {% if pager.OrderBy[alias]|lower == 'desc' %}
            <a {{ attributs|raw }} href="{{ pager.pathOrderBy( array_combine( [alias], ['asc'] ) ) }}">
                {{ label }}
                <img src="{{ asset('bundles/gloomypager/images/sort-desc.png') }}" style="vertical-align: middle;" />
            </a>
        {% else %}
            <a {{ attributs|raw }} href="{{ pager.pathOrderBy( array_combine( [alias], ['desc'] ) ) }}">
                {{ label }}
                <img src="{{ asset('bundles/gloomypager/images/sort-asc.png') }}" style="vertical-align: middle;" />
            </a>
        {% endif %}
    {% else %}
            <a {{ attributs|raw }} href="{{ pager.pathOrderBy( array_combine( [alias], ['desc'] ) ) }}">
                {{ label }}
            </a>
    {% endif %}

{% endmacro %}



{# ITEMS PER PAGE #}

{% macro itemsPerPage(pager) %}

    <select name="{{ pager.getConfig('itemsPerPageVar') }}" onchange="if (this.form.onsubmit) this.form.onsubmit(); else this.form.submit();">
        {% for nb in pager.getConfig('itemsPerPageChoices') %}
            <option value="{{ nb }}" {% if pager.itemsPerPage == nb %}selected="selected"{% endif %}>{{ nb }}</option>
        {% endfor %}
    </select>

{% endmacro %}



{# FILTERS #}

{% macro filter(pager, alias) %}

    {% set id = uniqid() %}
    {% set filtersVar = pager.getConfig('filtersVar') %}
    {% set value = pager.getValue('filtersVar').v[alias]|default('') %}
    {% set operator = pager.getValue('filtersVar').o[alias]|default('contains') %}

    {% set showClearButton = false %}

    {% if operator == 'null' or operator == 'notNull' %}
        {% set attributs = "notNullFilter" %}
    {% elseif value %}
        {% set attributs = "textFilter" %}
        {% set showClearButton = true %}
    {% else %}
        {% set attributs = "" %}
    {% endif %}

    <div id="div_filter_{{ id }}" onmouseout="hideFiltersOpts( event, '{{ id }}' );" >

        <div style="white-space: nowrap;">

            {# Nom du champ #}
            <input type="hidden"
                   name="{{ filtersVar }}[f][{{ alias }}]"
                   value="{{ alias }}"
                   />

            {# Valeur du champ #}
            <input  type="text"
                    id="input_filter_{{ id }}"
                    class="gloomy-filters {{ attributs|raw }}"

                    name="{{ filtersVar }}[v][{{ alias }}]"
                    value="{{ value }}"

                    onkeyup="filtersOptsChanged( '{{ id }}' ); submitEnter( event, this );"
                    onclick="showFiltersOpts( '{{ id }}' );"
                    onfocus="showFiltersOpts( '{{ id }}' );"
                    />

            <span class="gloomy-clearFilters" id="clear_filter_{{ id }}" {% if not showClearButton %}style="visibility: hidden;"{% endif %}>
                <a href="#" onclick="resetFilter( '{{ id }}' );">
                    <img src="{{ asset('bundles/gloomypager/images/clear_input.png') }}">
                </a>
            </span>

        </div>

        <div id="div_container_{{ id }}" class="gloomy-filtersContainer">

            <div id="div_opt_{{ id }}" class="gloomy-filtersOptions">

                {{ 'Operator'|trans([], 'pager') }}
                <select id="select_filter_{{ id }}"
                        name="{{ filtersVar }}[o][{{ alias }}]"

                        onchange="filtersOptsChanged( '{{ id }}' )"
                        onkeyup="submitEnter( event, this );">

                    <option value="contains" {% if operator == "contains" %}selected="selected"{% endif %}>{{ 'Contains'|trans([], 'pager') }}</options>
                    <option value="notContains" {% if operator == "notContains" %}selected="selected"{% endif %}>{{ 'Not Contains'|trans([], 'pager') }}</options>
                    <option value="equals" {% if operator == "equals" %}selected="selected"{% endif %}>{{ 'Equals'|trans([], 'pager') }}</options>
                    <option value="notEquals" {% if operator == "notEquals" %}selected="selected"{% endif %}>{{ 'Not Equals'|trans([], 'pager') }}</options>
                    <option value="greater" {% if operator == "greater" %}selected="selected"{% endif %}>{{ 'Greater'|trans([], 'pager') }}</options>
                    <option value="greaterOrEquals" {% if operator == "greaterOrEquals" %}selected="selected"{% endif %}>{{ 'Greater or Equals'|trans([], 'pager') }}</options>
                    <option value="less" {% if operator == "less" %}selected="selected"{% endif %}>{{ 'Less'|trans([], 'pager') }}</options>
                    <option value="lessOrEquals" {% if operator == "lessOrEquals" %}selected="selected"{% endif %}>{{ 'Less or Equals'|trans([], 'pager') }}</options>
                    <option value="null" {% if operator == "null" %}selected="selected"{% endif %}>{{ 'Null'|trans([], 'pager') }}</options>
                    <option value="notNull" {% if operator == "notNull" %}selected="selected"{% endif %}>{{ 'Not Null'|trans([], 'pager') }}</options>
                </select>

            </div>

        </div>

    </div>

{% endmacro %}