{# STYLESHEETS #}

{% macro stylesheets() %}
    <link href="{{ asset('bundles/gloomypager/libs/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/gloomypager/libs/bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet" type="text/css" />

    <link href="{{ asset('bundles/gloomypager/css/gloomy-filters.css') }}" rel="stylesheet" type="text/css" />
{% endmacro %}



{# JAVASCRIPTS #}

{% macro javascripts() %}
    <script src="{{ asset('bundles/gloomypager/libs/jquery/jquery-1.8.2.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/gloomypager/libs/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>

    <script src="{{ asset('bundles/gloomypager/js/gloomy-filters.js') }}" type="text/javascript"></script>
{% endmacro %}



{# PAGINATION #}

{% macro paginate(pager, attributs) %}

    <div class="pagination pagination-right">
        <ul>
            {% if pager.pages.first not in pager.pages.pagesInRange %}
                <li>
                    <a {{ attributs|raw }} href="{{ pager.path(pager.pages.first) }}">{{ pager.pages.first }}</a>
                </li>
            {% endif %}

            {% if pager.pages.previous is defined %}
                <li>
                    <a {{ attributs|raw }} href="{{ pager.path(pager.pages.previous) }}">«</a>
                </li>
            {% endif %}

            {% if pager.pages.last == 0 %}
                <li class="active">
                    <a {{ attributs|raw }} href="{{ pager.path(pager.pages.last) }}">{{ pager.pages.last }}</a>
                </li>
            {% else %}
                {% for page in pager.pages.pagesInRange %}
                    <li {% if page == pager.pages.current %}class="active"{% endif %}>
                        <a {{ attributs|raw }} href="{{ pager.path(page) }}">{{ page }}</a>
                    </li>
                {% endfor %}
            {% endif %}

            {% if pager.pages.next is defined %}
                <li>
                    <a {{ attributs|raw }} href="{{ pager.path(pager.pages.next) }}">»</a>
                </li>
            {% endif %}

            <li class="disabled">
                <span>/</span>
            </li>

            <li>
                <a {{ attributs|raw }} href="{{ pager.path(pager.pages.last) }}">{{ pager.pages.last }}</a>
            </li>
        </ul>
    </div>

{% endmacro %}



{# ORDER BY #}

{% macro orderBy(pager, alias, label, attributs) %}

    {% if pager.OrderBy[alias] is defined %}
        {% if pager.OrderBy[alias]|lower == 'desc' %}
            <a {{ attributs|raw }} href="{{ pager.pathOrderBy( array_combine( [alias], ['asc'] ) ) }}">
                {{ label }}
                <i class="icon-chevron-up"></i>
            </a>
        {% else %}
            <a {{ attributs|raw }} href="{{ pager.pathOrderBy( array_combine( [alias], ['desc'] ) ) }}">
                {{ label }}
                <i class="icon-chevron-down"></i>
            </a>
        {% endif %}
    {% else %}
            <a {{ attributs|raw }} href="{{ pager.pathOrderBy( array_combine( [alias], ['desc'] ) ) }}">
                {{ label }}
            </a>
    {% endif %}

{% endmacro %}



{# ITEMS PER PAGE #}

{% macro itemsPerPage(pager) %}

    <select class="input-small" name="{{ pager.getConfig('itemsPerPageVar') }}" onchange="$(this.form).submit();">
        {% for nb in pager.getConfig('itemsPerPageChoices') %}
            <option value="{{ nb }}" {% if pager.itemsPerPage == nb %}selected="selected"{% endif %}>{{ nb }}</option>
        {% endfor %}
    </select>

{% endmacro %}



{# ITEMS PER PAGE DROPDOWN #}

{% macro itemsPerPageDropdown(pager) %}

    {% import _self as base %}

    <div class="btn-group">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
            {{ base.resultsRange(pager) }}
            <span class="caret"></span>
        </button>

        <ul class="dropdown-menu">
            {% for nb in pager.getConfig('itemsPerPageChoices') %}
                <li>
                    <a href="{{ pager.path(null, array_combine( [pager.getConfig('itemsPerPageVar')], [nb] )) }}">
                        {% if pager.itemsPerPage == nb %}
                            <strong>{{ nb }}</strong>
                        {% else %}
                            {{ nb }}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endmacro %}



{# RESULTS RANGE #}

{% macro resultsRange(pager) %}

    {% if pager.pages.totalItemCount %}
        {{ '%first% to %last% on %total%'|trans({'%first%': pager.pages.firstItemNumber, '%last%': pager.pages.lastItemNumber, '%total%': pager.pages.totalItemCount}, 'pager') }}
    {% else %}
        {{ 'No data to display'|trans({}, 'pager') }}
    {% endif %}

{% endmacro %}



{# REFRESH #}

{% macro refresh(pager) %}

    <div class="btn-group">
        <a class="btn" href="{{ pager.path() }}">
            <i class="icon-refresh"></i>
            {{ 'Refresh'|trans({}, 'pager') }}
        </a>
    </div>

{% endmacro %}



{# FILTERS #}

{% macro filter(pager, alias, type) %}

    {% set id = uniqid() %}
    {% set filtersVar = pager.getConfig('filtersVar') %}
    {% set value = pager.getValue('filtersVar').v[alias]|default('') %}
    {% set operator = pager.getValue('filtersVar').o[alias]|default('contains') %}

    {% set showClearButton = false %}

    {% if operator == 'null' or operator == 'notNull' %}
        {% set attributs = "notNullFilter" %}
    {% elseif value %}
        {% set attributs = "textFilter" %}
        {% set showClearButton = true %}
    {% else %}
        {% set attributs = "" %}
    {% endif %}

    <div id="div_filter_{{ id }}" onmouseout="hideFiltersOpts( event, '{{ id }}' );">

        <div style="white-space: nowrap;">

            {# Nom du champ #}
            <input type="hidden"
                   name="{{ filtersVar }}[f][{{ alias }}]"
                   value="{{ alias }}"
                   />

            {# Valeur du champ #}
            <input  type="text"
                    id="input_filter_{{ id }}"
                    class="gloomy-filters {{ attributs|raw }} gloomy-filter-{{ type|default('string') }}"
                    placeholder="{{ 'Filter...'|trans({}, 'pager') }}"

                    name="{{ filtersVar }}[v][{{ alias }}]"
                    value="{{ value }}"

                    onkeyup="filtersOptsChanged( '{{ id }}' );"
                    onclick="showFiltersOpts( '{{ id }}' );"
                    onfocus="showFiltersOpts( '{{ id }}' );"
                    />

            <span class="gloomy-clearFilters" id="clear_filter_{{ id }}" {% if not showClearButton %}style="visibility: hidden;"{% endif %}>
                <a href="#" onclick="resetFilter( '{{ id }}' ); return false;">
                    <i class="icon-remove"></i>
                </a>
            </span>

        </div>

        <div id="div_container_{{ id }}" class="gloomy-filtersContainer">

            <div id="div_opt_{{ id }}" class="gloomy-filtersOptions">

                <select id="select_filter_{{ id }}"
                        name="{{ filtersVar }}[o][{{ alias }}]"

                        onchange="filtersOptsChanged( '{{ id }}' )"
                        >

                    {% if type == 'string' or type == '' %}
                        <option value="contains" {% if operator == "contains" %}selected="selected"{% endif %}>{{ 'Contains'|trans([], 'pager') }}</options>
                        <option value="notContains" {% if operator == "notContains" %}selected="selected"{% endif %}>{{ 'Not Contains'|trans([], 'pager') }}</options>
                    {% endif %}
                    <option value="equals" {% if operator == "equals" %}selected="selected"{% endif %}>{{ 'Equals'|trans([], 'pager') }}</options>
                    <option value="notEquals" {% if operator == "notEquals" %}selected="selected"{% endif %}>{{ 'Not Equals'|trans([], 'pager') }}</options>
                    <option value="greater" {% if operator == "greater" %}selected="selected"{% endif %}>{{ 'Greater'|trans([], 'pager') }}</options>
                    <option value="greaterOrEquals" {% if operator == "greaterOrEquals" %}selected="selected"{% endif %}>{{ 'Greater or Equals'|trans([], 'pager') }}</options>
                    <option value="less" {% if operator == "less" %}selected="selected"{% endif %}>{{ 'Less'|trans([], 'pager') }}</options>
                    <option value="lessOrEquals" {% if operator == "lessOrEquals" %}selected="selected"{% endif %}>{{ 'Less or Equals'|trans([], 'pager') }}</options>
                    <option value="null" {% if operator == "null" %}selected="selected"{% endif %}>{{ 'Null'|trans([], 'pager') }}</options>
                    <option value="notNull" {% if operator == "notNull" %}selected="selected"{% endif %}>{{ 'Not Null'|trans([], 'pager') }}</options>
                </select>

                {% if type == 'date' %}
                    <div style="margin-top: 20px">
                        {{ 'Date'|trans([], 'pager') }}
                        <div id="div_date_{{ id }}" class="gloomy-filter-date-inline"></div>
                    </div>
                {% endif %}
            </div>

        </div>

    </div>

{% endmacro %}