
{% block datagrid %}
    {{ datagrid_stylesheets(datagrid) }}
    {{ datagrid_javascripts(datagrid) }}
    {{ datagrid_content(datagrid) }}
{% endblock %}


{% block datagrid_stylesheets %}
    <link href="{{ asset('bundles/gloomypager/css/gloomy-pager.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block datagrid_javascripts %}
    <script src="{{ asset('bundles/gloomypager/js/lib/jquery-1.6.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/gloomypager/js/gloomy-filters.js') }}" type="text/javascript"></script>
{% endblock %}


{% block datagrid_content %}
    <form action="{{ datagrid.pager.pathForm() }}" method="post">
        {{ datagrid_header(datagrid) }}
        {{ datagrid_body(datagrid) }}
        {{ datagrid_footer(datagrid) }}
    </form>
{% endblock %}


{% block datagrid_header %}
    <div class="gloomy-header">

        {% if datagrid.title %}
            <h1>{{ datagrid.title }}</h1>
        {% endif %}

        {% if datagrid.hasActions('toolbar') %}
            <span>
                {% for action in datagrid.getActions('toolbar') %}
                    <a href="{{ path(action.route, action.routeParams) }}"
                        {% if action.confirm %}
                            onclick="return confirm('{{ action.confirm|e('js') }}');"
                        {% endif %}
                        >
                        {%  if action.image %}
                            <img src="{{ asset(action.image) }}">
                        {%  endif %}
                        {{ action.label }}
                    </a>
                {% endfor %}
            </span>
        {% endif %}

        <span style="float: right;">
            <span style=" margin-right: 50px;">
                {% if datagrid.pager.pages.totalItemCount %}
                    {{ '%first% to %last% on %total%'|trans({'%first%': datagrid.pager.pages.firstItemNumber, '%last%': datagrid.pager.pages.lastItemNumber, '%total%': datagrid.pager.pages.totalItemCount}, 'datagrid') }}
                {% else %}
                    {{ 'No data to display'|trans({}, 'datagrid') }}
                {% endif %}
            </span>
            <span style=" margin-right: 10px;">
                <img src="{{ asset('bundles/gloomypager/images/loading.gif') }}" style="display: none;"/>
                {{ datagrid_items_per_page(datagrid) }}
            </span>
            <span>
                <a href="{{ datagrid.path() }}">
                    <img src="{{ asset('bundles/gloomypager/images/refresh.png') }}" style="vertical-align: bottom;" />
                </a>
            </span>
        </span>

        <div style="clear: both;"></div>
    </div>
{% endblock %}


{% block datagrid_body %}
    <table class="gloomy-pager">
       <thead>
           {{ datagrid_row_order_by(datagrid) }}
           {{ datagrid_row_filters(datagrid) }}
        </thead>
        <tbody>
            {% for item in datagrid.items %}
               {{ datagrid_row_values(datagrid, item) }}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block datagrid_footer %}
    {{ datagrid_paginate(datagrid) }}
{% endblock %}


{% block datagrid_row_order_by %}
    <tr>
        {% for alias, field in datagrid.fields %}
           {{ datagrid_column_order_by(datagrid, field, alias) }}
        {% endfor %}
        {% if datagrid.hasActions() %}
            <th></th>
        {% endif %}
    </tr>
{% endblock %}


{% block datagrid_row_filters %}
    <tr>
        {% for alias, field in datagrid.fields %}
            {{ datagrid_column_filter(datagrid, field, alias) }}
        {% endfor %}
        {% if datagrid.hasActions() %}
            <th></th>
        {% endif %}
    </tr>
{% endblock %}


{% block datagrid_row_values %}
    <tr>
        {% for alias, field in datagrid.fields %}
           {{ datagrid_column_value(datagrid, field, item, alias) }}</td>
        {% endfor %}
        {% if datagrid.hasActions('row') %}
            <td>
                {% for action in datagrid.getActions('row') %}
                    <span class="gloomy-action">
                        <a href="{{ path(action.route, array_merge( array_combine( [datagrid.getConfig('rowIdVar')], [item.id] ), action.routeParams)) }}"
                            {% if action.confirm %}
                                onclick="return confirm('{{ action.confirm|e('js') }}');"
                            {% endif %}
                            >
                            {%  if action.image %}
                                <img src="{{ asset(action.image) }}">
                            {%  endif %}
                            {{ action.label }}
                        </a>
                    </span>
                {% endfor %}
            </td>
        {% endif %}
    </tr>
{% endblock %}


{% block datagrid_paginate %}
    {% import 'GloomyPagerBundle:Pager:macros.html.twig' as helper %}
    {{ helper.paginate(datagrid.pager) }}
{% endblock %}


{% block datagrid_items_per_page %}
    {% import 'GloomyPagerBundle:Pager:macros.html.twig' as helper %}
    {{ helper.itemsPerPage(datagrid.pager) }}
{% endblock %}


{% block datagrid_column_order_by %}
    {% import 'GloomyPagerBundle:Pager:macros.html.twig' as helper %}
    <th>
        {{ helper.orderBy(datagrid.pager, alias, field.label) }}
    </th>
{% endblock %}


{% block datagrid_column_filter %}
    {% import 'GloomyPagerBundle:Pager:macros.html.twig' as helper %}
    <th>
        {{ helper.filter(datagrid.pager, alias) }}
    </th>
{% endblock %}


{% block datagrid_column_value %}
    <td>
        {{ datagrid_item_value(datagrid, field, item) }}
    </td>
{% endblock %}
