
{% block datagrid %}
    {{ datagrid_stylesheets(datagrid) }}
    {{ datagrid_javascripts(datagrid) }}
    {{ datagrid_content(datagrid) }}
{% endblock %}


{% block datagrid_stylesheets %}
    <link href="{{ asset('bundles/gloomypager/css/gloomy-pager.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block datagrid_javascripts %}
    <script src="{{ asset('bundles/gloomypager/js/lib/jquery-1.6.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/gloomypager/js/gloomy-filters.js') }}" type="text/javascript"></script>
{% endblock %}


{% block datagrid_content %}
    <form action="{{ datagrid.pager.pathForm() }}" method="post">
        {{ datagrid_header(datagrid) }}
        {{ datagrid_body(datagrid) }}
        {{ datagrid_footer(datagrid) }}
    </form>
{% endblock %}


{% block datagrid_header %}
    <div class="gloomy-header">

        {% if datagrid.title %}
            <h1>{{ datagrid.title }}</h1>
        {% endif %}

        {% if datagrid.hasActions('toolbar') %}
            <span>
                {% for action in datagrid.getActions('toolbar') %}
                    <a href="{{ path(action.route, action.routeParams) }}"
                        {% if action.confirm %}
                            onclick="return confirm('{{ action.confirm|e('js') }}');"
                        {% endif %}
                        >{{ action.label }}</a>
                {% endfor %}
            </span>
        {% endif %}

        <span style="float: right;">
            <span style=" margin-right: 50px;">
                {% if datagrid.pager.pages.totalItemCount %}
                    {{ datagrid.pager.pages.firstItemNumber }} to {{ datagrid.pager.pages.lastItemNumber }} on {{ datagrid.pager.pages.totalItemCount }}
                {% else %}
                    no data to display
                {% endif %}
            </span>
            <span style=" margin-right: 10px;">
                <img src="{{ asset('bundles/gloomypager/images/loading.gif') }}" style="display: none;"/>
                {{ datagrid_items_per_page(datagrid) }}
            </span>
            <span>
                <a href="{{ datagrid.path() }}">
                    <img src="{{ asset('bundles/gloomypager/images/refresh.png') }}" style="vertical-align: bottom;" />
                </a>
            </span>
        </span>

        <div style="clear: both;"></div>
    </div>
{% endblock %}


{% block datagrid_body %}
    <table class="gloomy-pager">
       <thead>
           <tr>
               {{ datagrid_row_order_by(datagrid) }}
           </tr>
           <tr>
               {{ datagrid_row_filters(datagrid) }}
           </tr>
        </thead>
        <tbody>
            {% for item in datagrid.items %}
               <tr>
                   {{ datagrid_row_values(datagrid, item) }}
               </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block datagrid_footer %}
    {{ datagrid_paginate(datagrid) }}
{% endblock %}


{% block datagrid_row_order_by %}
    {% for field in datagrid.fields %}
       <th>{{ datagrid_column_order_by(datagrid, field) }}</th>
    {% endfor %}
    {% if datagrid.hasActions() %}
        <th></th>
    {% endif %}
{% endblock %}


{% block datagrid_row_filters %}
    {% for field in datagrid.fields %}
       <th>{{ datagrid_column_filter(datagrid, field) }}</th>
    {% endfor %}
    {% if datagrid.hasActions() %}
        <th></th>
    {% endif %}
{% endblock %}


{% block datagrid_row_values %}
    {% for field in datagrid.fields %}
       <td>{{ datagrid_column_value(datagrid, field, item) }}</td>
    {% endfor %}
    {% if datagrid.hasActions('row') %}
        <td>
            {% for action in datagrid.getActions('row') %}
                <a href="{{ path(action.route, array_merge({'id': item.id}, action.routeParams)) }}"
                    {% if action.confirm %}
                        onclick="return confirm('{{ action.confirm|e('js') }}');"
                    {% endif %}
                    >{{ action.label }}</a>
            {% endfor %}
        </td>
    {% endif %}
{% endblock %}


{% block datagrid_paginate %}
    {% import 'GloomyPagerBundle:Pager:macros.html.twig' as helper %}
    {{ helper.paginate(datagrid.pager) }}
{% endblock %}


{% block datagrid_items_per_page %}
    {% import 'GloomyPagerBundle:Pager:macros.html.twig' as helper %}
    {{ helper.itemsPerPage(datagrid.pager) }}
{% endblock %}


{% block datagrid_column_order_by %}
    {% import 'GloomyPagerBundle:Pager:macros.html.twig' as helper %}
    {{ helper.orderBy(datagrid.pager, field.qualifier, field.label) }}
{% endblock %}


{% block datagrid_column_filter %}
    {% import 'GloomyPagerBundle:Pager:macros.html.twig' as helper %}
    {{ helper.filter(datagrid.pager, field.qualifier) }}
{% endblock %}


{% block datagrid_column_value %}
    {{ datagrid_item_value(datagrid, field, item) }}
{% endblock %}
