{% block crud %}
    {{ crud_stylesheets(crud) }}
    {{ crud_javascripts(crud) }}
    {{ crud_content(crud) }}
{% endblock %}


{% block crud_stylesheets %}
    {% if crud.view == 'list' %}
        {{ datagrid_stylesheets(crud.datagrid) }}
    {% else %}
        <link href="{{ asset('bundles/gloomypager/libs/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/gloomypager/libs/bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet" type="text/css" />
    {% endif %}
{% endblock %}


{% block crud_javascripts %}
    {% if crud.view == 'list' %}
        {{ datagrid_javascripts(crud.datagrid) }}
    {% else %}
        <script src="{{ asset('bundles/gloomypager/libs/jquery/jquery-1.8.2.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/gloomypager/libs/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
    {% endif %}
{% endblock %}


{% block crud_content %}
    {% if crud.view == 'list' %}
        {{ crud_list(crud) }}
    {% elseif crud.view == 'add' %}
        {{ crud_add(crud) }}
    {% elseif crud.view == 'edit' %}
        {{ crud_edit(crud) }}
    {% endif %}
{% endblock %}


{% block crud_list %}
    {{ datagrid_content(crud.datagrid) }}
{% endblock %}


{% block crud_add %}
    <h3>{{ crud.title }} > {{ 'Add'|trans({}, 'crud') }}</h3>

    <form {{ form_enctype(form) }}
          method="post"
          action="{{ path( crud.route, array_merge(crud.getConfig('addToURL'), array_combine( [crud.getConfig('viewVar')], ['add'] ) ) ) }}"
          >
        {{ crud_form(crud, form) }}
        <div class="btn-toolbar">
            <button type="submit" class="btn btn-primary">{{ "Save"|trans([], 'crud') }}</button>
            <a type="button" class="btn" href="{{ path(crud.route, crud.getConfig('addToURL')) }}">{{ "Cancel"|trans([], 'crud') }}</a>
        </div>
    </form>
{% endblock %}


{% block crud_edit %}
    <h3>{{ crud.title }} > {{ 'Edit'|trans({}, 'crud') }}</h3>

    <form {{ form_enctype(form) }}
          method="post"
          action="{{ path(crud.route, array_merge(crud.getConfig('addToURL'), array_combine( [crud.getConfig('idVar'), crud.getConfig('viewVar')], [item.id, 'edit'] ) ) ) }}"
          >
        {{ crud_form(crud, form) }}
        <div class="btn-toolbar">
            <button type="submit" class="btn btn-primary">{{ "Save"|trans([], 'crud') }}</button>
            <a type="button" class="btn" href="{{ path(crud.route, crud.getConfig('addToURL')) }}">{{ "Cancel"|trans([], 'crud') }}</a>
        </div>
    </form>
{% endblock %}


{% block crud_form %}
    {{ form_widget(form) }}
{% endblock %}