
{% block collection_widget %}
{% spaceless %}
    <div class="collection">
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype':form_row(prototype) }) %}
        {% endif %}

        {{ block('form_widget') }}

        {% if allow_add %}
            <a class="add" href="javascript:alert('not overrided');">
                <img src="{{ asset('bundles/gloomypager/images/add.png') }}" style="vertical-align: middle;" />
            </a>
            <div style="clear: both"></div>
        {% endif %}
    </div>
{% endspaceless %}
{% endblock collection_widget %}



{% block field_row %}
{% spaceless %}

{#
        {% if instanceof(form.parent.vars.value, 'Doctrine\\Common\\Collections\\Collection') %}
#}
        {% if form.parent.vars.types[form.parent.vars.types|length - 1] == 'collection' %}
            <div class="collection_entity">
                {% if form.parent.vars.allow_delete %}
                    <a class="remove" href="#">
                        <img src="{{ asset('bundles/gloomypager/images/delete.png') }}" style="vertical-align: middle;" />
                    </a>
                {% endif %}
                {{ form_errors(form) }}
                {{ form_widget(form) }}
            </div>
        {% else %}
            <div>
                {{ form_label(form, label|default(null)) }}
                {{ form_errors(form) }}
                {{ form_widget(form) }}
            </div>
        {% endif %}

{% endspaceless %}
{% endblock field_row %}
